/** Gutter mixins **/
@mixin gutter-left-right($left, $right: $left) {

	bcgov-footer,
	bcgov-header,
	.header-nav bcgov-menu.is-desktop,
	bcgov-breadcrumb {
		padding-right: $right;
		padding-left: $left;
	}
}

@mixin gutter($gutter) {

	.bcgov-main {
		margin: 0 $gutter;
	}
}
