/* column drop shadow override */
body.custom-goelectricbc {


	.pill {
		display: inline-block;
	}

	.sticky-menu {
		position: sticky;
		top: 6.5rem;
		bottom: 4rem;
	}

	.wp-block-column.is-style-dropshadow, .wp-block-image.is-style-dropshadow img {
		box-shadow: -1px 5px 17px 0px rgba(0, 42, 78, 0.10);
	}
}