/* stylelint-disable no-descending-specificity */

#main-navigation {
	background-color: $menublue;
	width: 100vw;
	max-width: unset;
	height: 100vh;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transform: translateX(0);
	transition: transform 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);

	@media (prefers-reduced-motion) {
		transition: none;
	}
	z-index: -1;

	&.target-hidden {
		transform: translateX(-100vw);
		display: block;

		&::before {
			transform: translateX(100vw);
		}

		> ul {
			transform: translateX(-20vw);
		}
	}

	> ul {

		display: flex;
		justify-content: flex-end;
		align-items: flex-start;
		flex-wrap: wrap;;
		gap: 32px;
		margin: 25vh auto 0;

		@media (max-width: $breakpoint-sm) {
			display: block;
			margin: 0 2rem;
			padding: 0 0 10rem;
			overflow: auto;
			max-height: 100%;
			position: absolute;
			top: 99px;
			min-width: calc(100% - 4rem);
		}
		height: auto;
		transition: transform 0.66s cubic-bezier(0.68, -0.55, 0.27, 1.55);

		@media (prefers-reduced-motion) {
			transition: none;
		}

		> bcgov-menu {
			width: calc(33% - 32px);

			@media (max-width: $breakpoint-md) {
				width: 40%;
			}

			@media (max-width: $breakpoint-sm) {
				width: calc(100% - 32px);
			}

			a {
				padding: 0.35rem 0.5rem 0;

				&:focus {
					outline-offset: -2px;
					outline: 2px dashed $pirategold;
				}

				&.bold {
					font-weight: 700;
					font-size: 110%;
					top: 1rem;
				}

				&.close-link {
					opacity: 0;
					pointer-events: none !important;

					&:focus {
						opacity: 1;
						pointer-events: all !important;
					}
				}
			}

			> div a {
				font-size: 1.25rem;
				font-weight: 700;
				padding: 0 0.5rem 0;

				@media (max-width: $breakpoint-sm) {
					padding: 2rem 0.5rem 0;
				}
			}
		}

		.bcgov-primary-menu-close {
			display: none;
		}
	}

	&::before {
		content: "";
		position: fixed;
		display: block;
		height: 100px;
		width: 100%;
		top: 0;
		transform: translateY(0);
		transition: transform 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);

		@media (prefers-reduced-motion) {
			transition: none;
		}
		z-index: 99999999;
	}
}
