// Go Electric Project colours
$headeryellow: #ecc51d;
$highlightyellow: #fcf6dd;
$gofootergrey: #1f2639;
$bondiblue: #007e9e;
$aquablue: #b3deea;
$squeezeblue: #e7f4f7;
$bahamablue: #005c97;
$capergreen: #d8ebc6;
$pirategold: $headeryellow;
$silvergrey: #a1a1a1;
$vehiclegrey: #ccc;
$snow: $white;
$bcgov-red-primary: #d71d24;


// Go Electric v1 Project colours
$sushigreen: #61a744;
$eucalyptus: #1d8045;
// $bondiblue: #0090b5;
$bahamablue: #369;
$prussianblue: #002a4e;
$weborange: #f2a900;
$sunorange: #fdb414;
$anchororange: #eb7d3b;
$dawngray: #a49e99;
$gallerygray: #edebeb;

$header-background-color: $snow;
