* {
	// Shadows from https://getcssscan.com/css-box-shadow-examples
	// #39
	--box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

	&::selection {
		background-color: $curiousblue;
	}
}

/**
* For general admin styles use: body.wp-admin { } 
*/

/**
* For admin editor based styles use: html :where(.editor-styles-wrapper) { } 
*/

html :where(.editor-styles-wrapper) {

	#app {
		background-color: lightgray;
		border: 1px solid gray;
		padding: 2rem;
		text-align: center;
	}

 }