@import "./variables";
@import "./public/general";
@import "./public/action-box";
@import "./public/cards";
@import "./public/driver-category-query";
@import "./public/bootstrap-legacy";
@import "./public/header-and-navigation";
@import "./public/go-electric/mixins";
@import "./public/go-electric/variables";
@import "./public/go-electric/quiz";
@import "./public/go-electric/vehicles";
@import "./public/go-electric/banners";
@import "./public/go-electric/blocks";
@import "./public/go-electric/breadcrumbs";
@import "./public/go-electric/cards";
@import "./public/go-electric/columns";
@import "./public/go-electric/footer";
@import "./public/go-electric/groups";
@import "./public/go-electric/header";
@import "./public/go-electric/patterns";
@import "./public/go-electric/style";

:root {
	color-scheme: light dark;
	color: $white;
	background-color: $mineshaft;

	font-synthesis: none;
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	clip-path: inset(50%) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}

.sr-only-focusable:focus-visible,
.sr-only-focusable:active {
	clip: auto !important;
	clip-path: none !important;
	height: auto !important;
	margin: auto !important;
	overflow: visible !important;
	width: auto !important;
	white-space: normal !important;
}
